.fg_black {
  color: black;
}
.fg_white {
  color: white;
}
.fg_green {
  /* color: #00d700; */
  color: #0fb36c;
}
.green {
  color: #0fb36c;
}


.bg_black {
  background: black;
}
.bg_white {
  background: white;
}
