* {
  /* border: .5px solid red; */
}
body {
  margin: 0;
  height: 100vh;
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

.body-layout {
  padding: 2rem 8rem;
  transition: padding .5s ease-in-out;
}
@media (min-width: 600px) and (max-width: 900px) {
  .body-layout {
    padding: 1.5rem 3.5rem;
  }
}
@media (max-width: 600px) {
  .body-layout {
    padding: 1rem 2rem;
  }
}
main {
  height: 100%;
  overflow: scroll;
  position: relative;
  font-size: 1rem;
}

article {
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  padding-top: 0 !important;
  /* temp style */
  /* border: 2px dotted green; */
}
section {
  height: 100%;
  margin-bottom: 5rem;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .section-heading {
    font-size: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  section {
    margin-bottom: 5rem;
  }
}
section > .container {
  padding: 6.5rem 0;
}

footer {
  padding: 5rem;
}

main::-webkit-scrollbar, article::-webkit-scrollbar {
  width: 1px;
  display: none;
}
main::-webkit-scrollbar-track, article::-webkit-scrollbar-track {
  background: transparent;
}
