:root {

  /* ----- colors ----- */
  --green: #0fb36c;
  --white: white;
  --black: black;
  --light-black: #333;
  --red: red;
  --light-grey: #25252545;
  --dark-grey: #dfdcdc2b;

  --primary-color: var(--green);
  --secondary-color: var(--light-black);
  --background-color: var(--white);
  --active-color: var(--light-grey);
  --project-content-color: var(--light-grey);
  --loader-color: var(--primary-color);
  --theme-font-weight: initial;
  --body-font-weight: 400;
  --nav-border: var(--primary-color);

  --sh-fontSize: 2.5rem;

  --shadow-border_color: #d9d9d900;
  --shadow-color: #d9d9d9;

  --bottom-top_slideIn_val: 30%;

  --button-txt-color: var(--primary-color);
  --button-bck-color: transparent;
  --button-border-color: var(--primary-color);
}

 @media (max-width: 600px) {
  :root {
    --bottom-top_slideIn_val: 20%;
    --sh-fontSize: 2rem;
  }
}
.dark-mode {
  --secondary-color: var(--white);
  --background-color: var(--black);
  --loader-color: var(--white);
  --project-content-color: var(--dark-grey);
  --theme-font-weight: bold;
  --nav-border: var(--secondary-color);
  --body-font-weight: 500;
  --active-color: var(--white);

  /* --button-txt-color: var(--primary-color); */
  /* --button-bck-color: va; */
  /* --button-border-color: var(--primary-color); */
  /* --active-color: white; */

}

.fg_green {
  color: var(--primary-color);
  font-weight: var(--theme-font-weight);
}
.bg_black {
  background: var(--secondary-color);
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.1rem;
  /* font-family: sans-serif; */
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--body-font-weight);
  line-height: 1.42857143;
  color: var(--secondary-color);
  background: var(--background-color);
  overflow-x: hidden;
}
.body-layout {
  padding: 2rem 8rem;
  padding-bottom: 0 !important;
  transition: padding .5s ease-in-out;
}

main {
  height: 100%;
  overflow: scroll;
  position: relative;
}

article {
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  padding-top: 0 !important;
}
section {
  height: fit-content;
  margin-bottom: 3rem;
}

.section-heading {
  font-size: var(--sh-fontSize);
  font-weight: bold;
  padding-top: 3rem;
}

section > .container {
  padding: 5rem 0;
}

main::-webkit-scrollbar, article::-webkit-scrollbar {
  /* width: 5px; */
  /* background: var(--primary-color); */
  display: none;
}
main::-webkit-scrollbar-track, article::-webkit-scrollbar-track {
  background: transparent;
}
@media (min-width: 600px) and (max-width: 900px) {
  .body-layout {
    padding: 1.5rem 3.5rem;
  }
}
@media (max-width: 600px) {
  .body-layout {
    padding: 1rem 2rem;
  }
  section > .container {
    padding: 3rem 0;
  }
}
@media (max-width: 500px) {
  .body-layout {
    padding: 1rem 2rem;
  }
  section > .container {
    padding: 1rem 0;
  }
}

button {
  width: 250px;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background: transparent;
  border: 2px solid var(--button-border-color);
  color: var(--button-txt-color);
  background: var(--button-bck-color);
  position: relative;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  transition: color 1s ease-out;
}
/* button > span {
  z-index: 2;
} */
button::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid var(--button-border-color);
  border-left: none;
  border-top: none;
  position: absolute;
  top: .5rem;
  left: .5rem;
  background: transparent;
}

button:hover {
  color: white;
  transition: color 1s ease-out;
}

button:hover:before {
  width: 100%;
  transition: width .6s ease-in-out;
}

button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--primary-color);
  transition: width .6s ease-in-out;
}

@keyframes fill-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


/* ------------ loader ------------ */
.loader-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  z-index: 20;
  overflow: hidden;
}

.loader,
.loader:before,
.loader:after {
  animation: loader-motion 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  height: 100%;
  color: var(--loader-color);
  position: relative;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  animation-delay: -0.16s;
}
.loader div {
  font-size: 2rem;
  font-weight: bold;
  transform: translateX(-15px);
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@keyframes loader-motion {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.loader__disappear {
  display: none;
  opacity: 0;
  transition: opacity .5s ease-out;
}
/* ------------ END- loader ------------ */

/* ------------ Animations ------------ */
.fade-in {
  opacity: 0;
  transition: opacity .8s ease-in;
}
.fade-in.appear {
  opacity: 1;
}
.from-bottom {
  transform: translateY(30%);
  opacity: .8;
  transition: all .5s ease-in;
}
.from-bottom.appear {
  opacity: 1;
  transform: translateY(0);
}
.scale-ele {
  transition: .25s ease-out;
}
.scale-ele:hover {
  transform: scale(1.5);
}
/* ------------ END - Animations ------------ */
