/* ------------- Header ------------- */
header {
  min-height: 60px;
}
header .logo {
  width: fit-content;
}
.header-list-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem 5rem;
  width: 150px;
  height: 30px;
  text-align: center;
  border-bottom: 2px solid red;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
}
.header-list-wrapper > div > div {
  padding-bottom: 10px;
  color: #0fb36c;
}
@media (min-width: 600px) and (max-width: 900px) {
  .header-list-wrapper {
    margin: 1.5rem 3.5rem;
  }
}
@media (max-width: 600px) {
  .header-list-wrapper {
    margin: 1rem 2rem;
  }
}

/* ------------- Side Bar ------------- */
main aside {
  position: fixed;
  left: 4.5rem;
  top: 35vh;
  transform: rotate(90deg);
  transition: transform .5s ease-in-out;
  z-index: 100;
}

@media (max-width: 900px) {
  main aside {
    left: 0;
    transform: rotate(0deg);
    bottom: 5rem;
    top: auto;
    width: 100%;
  }
  nav {
    justify-content: center;
    background: white;
    padding: 2rem 0;
    width: 100%;
  }
  nav .nav-item {
    transform: rotate(0deg) !important;
  }
}
nav {
  position: absolute;
  display: flex;
  align-items: center;
}
nav .nav-item {
  transition: width .5s ease-in-out, color 1s ease-in-out;
  position: relative;
  display: flex;
  margin: 0 .5rem;
  height: 1.6rem;
  width: .65rem;
  overflow: hidden;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: 2px;
  /* color: black; */
  color: #0fb36c;
  background: #0fb36c;
  transform: rotate(-180deg);
  text-transform: uppercase;
}
.nav-up-arrow, .nav-down-arrow {
  display: flex;
  cursor: pointer;
  color: #0fb36c;
}
.nav-up-arrow > span {
  transform: rotate(-90deg);
}
.nav-down-arrow > span {
  transform: rotate(90deg);
}
.nav-item--active {
  width: 6.5rem !important;
  padding: 0 .8rem !important;
  color: white !important;
}
/* ------------- Side Bar ------------- */
