.home-intro-section {
  position: relative;
  padding-top: 5rem;
}
.into-headings-wrapper {
  height: 3.2rem;
  /* overflow: hidden; */
  border-bottom-width: 5px;
  transition: all .3s ease-out;
  position: relative;
  z-index: 2;
}
.into-headings-wrapper div {
  position: absolute;
  animation-name: textAppearing;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transition: all 1s ease-in-out;
}
#home-text-2 {
  opacity: 0;
  animation-delay: 2s;
  z-index: 2;
}
#home-text-3 {
  opacity: 0;
  animation-delay: 3s;
  z-index: 1;
}

@keyframes textAppearing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.intro-section_content {
  margin-top: 6rem;
  width: 65%
}
.home-btn {
  text-align: center;
  margin: 3rem 0;
}

@media (max-width: 550px) {
  .into-headings-wrapper {
    height: 2rem;
    font-size: 1.8rem;
    width: 100% !important;
  }
  .into-headings-wrapper div {
    width: 100% !important;
  }
  .intro-section_content {
      margin-top: 5rem;
    }
  .intro-section_content {
    margin-top: 4rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .intro-section_content {
    margin-top: 5rem;
  }
}
