/* ------------ Header ------------ */
header {
  min-height: 60px;
}
header .header-logo  div:nth-child(2) {
  height: 30px;
  letter-spacing: 5px;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.2rem;
  padding: 0 3px;
}
header .header-logo .logo-arrow-icons {
  height: 2px;
  width: 35px;
  background: var(--secondary-color);
}
.header-list-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem 5rem;
  width: 180px;
  height: 35px;
  text-align: center;
  border: 2px solid var(--active-color);
  color: var(--primary-color);
  border-left: none;
  border-right: none;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
}
.header-list-wrapper > div > div {
  padding: 5px 0;
  letter-spacing: .5rem;
  color: var(--primary-color);
}
@media (min-width: 600px) and (max-width: 900px) {
  .header-list-wrapper {
    margin: 1.5rem 3.5rem;
  }
}
@media (max-width: 600px) {
  .header-list-wrapper {
    margin: 1rem 2rem;
  }
}
/* ------------ END - Header ------------ */


/* ------------ Side Bar ------------ */
main aside {
  position: fixed;
  left: 4.5rem;
  top: 35vh;
  transform: rotate(90deg);
  z-index: 15;
}

@media (max-width: 900px) {
  main aside {
    left: 0;
    transform: rotate(0deg);
    bottom: 5rem;
    top: auto;
    width: 100%;
  }
  nav {
    justify-content: center;
    background: var(--background-color);
    padding: 2rem 0;
    width: 100%;
  }
  nav .nav-item {
    transform: rotate(0deg) !important;
  }
}
nav {
  position: absolute;
  display: flex;
  align-items: center;
}
nav .nav-item {
  transition: width .5s ease-in-out, color 1s ease-in-out;
  position: relative;
  display: flex;
  margin: 0 .5rem;
  height: 1.6rem;
  width: .65rem;
  overflow: hidden;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  letter-spacing: 2px;
  color: var(--primary-color);
  background: var(--primary-color);
  transform: rotate(-180deg);
  text-transform: uppercase;
  font-weight: bold;
}
.nav-up-arrow, .nav-down-arrow {
  display: flex;
  cursor: pointer;
  color: var(--primary-color);
}
.nav-up-arrow > span {
  transform: rotate(-90deg);
}
.nav-down-arrow > span {
  transform: rotate(90deg);
}
.nav-item--active {
  width: 7rem !important;
  padding: 0 .8rem !important;
  color: white !important;
}
/* ------------ END - Side Bar ------------ */


/* ------------ Intro section ------------ */
#home-page-section {
  position: relative;
}
.intro-headings-wrapper {
  /* position: relative; */
  max-width: 550px;
  font-size: 2rem;
}
.intro-headings-wrapper p {
  position: relative;
  margin: 0;
}
.intro-headings-wrapper h1 {
  font-size: 4rem !important;
  margin: 0;
  font-weight: bolder;
  /* text-shadow: 2px 3px 0px var(--light-grey); */
}
.intro-headings-wrapper div {
  text-align: right;
  position: relative;
  font-weight: bolder;
}
.intro-headings-wrapper p::before, .intro-headings-wrapper div::before {
  position: absolute;
  content: '';
  height: 5px;
  background: var(--active-color);
  border-radius: 100px;
  top: 50%;
  transition: translateY(-50%);
}
.intro-headings-wrapper p::before {
  width: 65%;
  right: 0;
}
.intro-headings-wrapper div::before {
  width: 35%;
  left: 0;
}
.intro-section_content {
  margin-top: 3.5rem;
  width: 65%
}
.landing-page_img {
  position: absolute;
  right: 0%;
  z-index: -1;
  top: 40%;
  /* background-image: url('./images/bob.png'); */
  transform: translateY(-50%);
}
.landing-page_img img {
  height: 380px;
}
.left-eye-bounds, .right-eye-bounds {
  content: '';
  position: fixed;
  height: 67px;
  width: 68px;
  background: var(--white);
  border-radius: 50%;
  overflow: hidden;
}
.left-eye-bounds {
  left: 58px;
  top: 70px;
}
.right-eye-bounds {
  right: 125px;
  top: 68px;
}
.eyeball {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  background: var(--black);
  transform: translate(-50%, -50%);
  position: absolute;
}
.home-btn {
  text-align: center;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}
.home-btn button {
  margin-right: 5rem;
}
@media screen and (max-width: 700px) {
  .landing-page_img {
    display: none;
  }
  .intro-section_content {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .home-btn {
    flex-direction: column;
  }
  .home-btn button {
    margin-top: 2rem;
    margin-right: 0;
    align-self: center;
  }
  .intro-headings-wrapper {
    width: 100% !important;
    text-align: center;
  }
  .intro-headings-wrapper p::before, .intro-headings-wrapper div::before {
    display: none;
  }
  .intro-headings-wrapper div {
    text-align: center;
  }
  .intro-section_content {
    margin-top: 2rem;
  }
}
@media (max-width: 500px) {
  .intro-headings-wrapper {
    font-size: 1.5rem;
  }
  .intro-headings-wrapper h1 {
    font-size: 2.8rem !important;
  }
}
/* ------------ END - Intro Section ------------ */


/* ------------ About me section ------------ */
#about-me-section .container {
  display: grid;
  grid-auto-flow: column;
  width: 80%;
  padding-top: 3rem;
}
.user-profile-pic {
  text-align: center;
  position: relative;
}
.user-profile-pic img {
  height: 15rem;
  transition: all .3s ease-in;
  filter: grayscale(100%);
}
.user-profile-pic img:hover {
  filter: grayscale(0);
}
#about-me-section .container a {
  text-decoration: none;
}
@media (max-width: 900px) {
  #about-me-section .container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #about-me-section .container {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 5rem;
    padding-top: 1rem;
  }
}
/* ------------ END - About me section ------------ */

/* ------------ Experience section ------------ */
.timeline-content {
  width: 80%;
  padding: 2rem;
  border: 1px solid var(--shadow-border_color);
  box-shadow: 0 0 12px 0 var(--shadow-color);
  margin-bottom: 4.5rem;
}
.timeline-content .content-descp {
  margin-top: 1rem;
}
.timeline-content .content-descp ol li {
  padding-bottom: .5rem;
}
/* ------------ END - Experience section ------------ */

/* ------------ Work section ------------ */
#projects-section {
  height: fit-content;
}
.project ul {
  padding: 0;
  list-style: none;
  display: flex;
}
.project ul li {
  margin-right: 20px;
}

.project-tech-stack {
  font-weight: lighter;
  font-size: .8rem;
}
.project-links img {
  height: 1.5rem;
  width: auto;
}

.project {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .project {
    align-items: flex-start;
  }
}

.project .project__left-view {
  position: relative;
  grid-column: 1 / 8;
  grid-row: 1 / -1;
}
.project-content {
  z-index: 5;
  font-size: 1rem;
}
.project-img {
  z-index: 3;
}
.project .project__right-view {
  position: relative;
  border-radius: 2px;
  grid-column: 6 / -1;
  grid-row: 1 / -1;
  text-align: right;
}
.project .project__right-view ul {
  flex-direction: column;
}

.project .project-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  color: var(--primary-color);
}
.project .project-details p {
  background-color: var(--project-content-color);
  padding: 1.2rem 1.5rem;
  margin: 0;
}
.project-img img {
  width: auto;
  vertical-align: middle;
  max-height: 350px;
  max-width: 500px;
  display: none;
}

.projects-btn {
  text-align: center;
}

@media (max-width: 600px) {
  .project-content {
    grid-column: 1 / -1 !important;
    padding: 1.5rem 1rem;
    text-align: left !important;
    border: 1px solid var(--shadow-border_color);
    box-shadow: 0 0 12px 0 var(--shadow-color);
  }
  .project-img {
    grid-column: 1/ -1 !important;
  }
  .project-img img {
    width: 100%;
    opacity: .25;
  }
  .project .project-details p {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .project-img img {
    object-fit: cover;
    height: 100%;
  }
}
/* ------------ END - Work section ------------ */


/* ------------ Contact me section ------------ */
#contact-me-section {
  height: 95%;
  display: flex;
  flex-direction: column;
}
.contact-section-btns {
  display: flex;
  justify-content: center;
}
#contact-me-section .container p {
  width: 80%;
  margin: 0;
  margin-bottom: 2rem;
}
.contact-section-btns button {
  margin-right: 5rem;
}
@media (max-width: 600px) {
  #contact-me-section .container p {
    width: 100% !important;
  }
  .contact-section-btns {
    flex-direction: column;
  }
  .contact-section-btns button {
    margin-top: 2rem;
    margin-right: 0;
    align-self: center;
  }
}
.footer {
  margin-top: auto;
  border-top: 2px solid var(--primary-color);
  display: flex;
  font-size: .8rem;
  padding: 1rem 0;
}
.smiley-icon {
  font-size: 1rem;
  display: inline-flex;
  transform: translateY(2px);
}
.footer div:nth-child(1) {
  width: 25%;
}
.footer div:nth-child(2) {
  width: 75%;
}
@media (max-width: 900px) {
  .footer {
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .footer {
    margin-bottom: 3rem;
  }
}

/* ------------ Contact me section ------------ */
